<div class="container-fluid container-lease">
  <div class="card text-white bg-dark">

    <img class="card-img-top" src="https://hdqwalls.com/wallpapers/mountains-house-trees-illustration-v2.jpg" alt="">

    <div class="card-img-overlay">
      <h2 class="card-title display-4">Join the Super Rental Family ! </h2>
    </div>

    <div class="card-body">
      <br>
      <ul class="nav nav-tabs justify-content-center bg-light">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['apartment']"><i class="material-icons" style="font-size:2rem;">home</i>
            Apartment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['amenities']" routerLinkActive=""><i class="material-icons" style="font-size:2rem;">offline_bolt</i>
            Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['userinfo']"><i class="material-icons" style="font-size:2rem;">supervised_user_circle</i>
            Lease Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['submit']"><i class="material-icons" style="font-size:2rem;">verified_user</i>
            Submit</a>
        </li>
      </ul>
      <br>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
