<div class="card bg-light">
  <div class="community-heading card-header">
      <h1 class="card-text-title">
          {{ event.eventTitle }}
      </h1>
      <p class="card-text">
          {{ event.date | date }}
      </p>
  </div>
    <img class="card-img-top" src="{{ event.pictureURL || 'https://imgc.allpostersimages.com/img/print/u-g-PW8RI50.jpg?w=900&h=900&p=0'}}" style="height: 15rem;"
      alt="Card image cap">

    <div class="card-footer">
      <p class="card-text"><strong>  Description:  </strong>
        {{ event.eventDescription | slice:0:50 }}
      </p>
      <p class="card-text"> <strong> Attendees: </strong>
          {{ event.attendees }}
        </p>
      <div>
        <button (click)="joinEvent()"> Join </button>
        <button *ngIf="currentUserID === event.eventCreator" (click)="deleteEvent()"> 
          Delete Event 
        </button>
      </div>
    </div>
  </div>