<div class="card bg-light">
    <h1 class="card-text">
        {{ event.eventTitle }}
    </h1>
    <p class="card-text">
        {{ event.date }}
      </p>
    <img class="card-img-top" src="{{ event.pictureURL }}" style="height: 15rem;"
      alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong>  Description:  </strong>
        {{ event.eventDescription }}
      </p>
      <p class="card-text"> <strong> Attendees: </strong>
          {{ event.attendees }}
        </p>
      <div>
        <button (click)="joinEvent()"> Join </button>
        <button *ngIf="currentUserID === event.eventCreator" (click)="deleteEvent()"> 
          Delete Event 
        </button>
      </div>
    </div>
  </div>