<div>
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" 
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                    {{ this.accordionOpened ? 'Close chat box' : 'Chat with a Realtor'}} 
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Chat Box</h5>
                                <div class="clearfix" style="display: flex; flex-direction: row; width: 100%" *ngFor="let message of _messages | async">
                                    <chat-message class="float-right" style="float:right !important" [message]="message"></chat-message>
                                </div>
                                <div style="clear:both">
                                                    <!-- TODO: -->
                                                    <!-- && !anonUser -->
                                    <p [hidden]="!isAdminTyping"><em> admin is typing...</em> </p>
                                    <p [hidden]="!isUserTyping && anonUser"><em> user is typing...</em> </p>
                                </div>
                                <p> {{ textValue }} </p>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="message" name="messageBox" id="messageBox" 
                                            #messageBox [(ngModel)]="textValue">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" 
                                                (click)="sendMessage(messageBox.value); messageBox.value = ''">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
              </div>
          </div>
      </div>                        