<div class="container-fluid">
  <div class="card text-white bg-dark">
    <img class="card-img-top" src="https://hdqwalls.com/wallpapers/mountains-landscape-nature-digital-art-1b.jpg"
      alt="">
    <div class="card-body">
      <h4 class="card-title">SERVICE HISTORY</h4>
      <hr class="my-2 bg-light">
      <br>
      <!-- INFO CARDS -->
      <div class="row">
        <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Total Request</h5>
              <h6 class="card-subtitle mb-2 text-muted">Till Date</h6>
              <p class="currency">{{20}}</p>
            </div>
          </div>
        </div>
        <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Pending</h5>
              <h6 class="card-subtitle mb-2 text-muted">Till Date </h6>
              <p class="currency">{{10}}</p>
            </div>
          </div>
        </div>
        <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Completed</h5>
              <h6 class="card-subtitle mb-2 text-muted">Till Date </h6>
              <p class="currency">{{15}}</p>
            </div>
          </div>
        </div>
        
      </div>
      <br>
      
            <div class="container-fluid bg-white form-input">
              <div class="row">
                <div class="table-responsive">
                  <br>
                    <table class="table table-hover ">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Ticket #</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Description</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">ETC</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
