<div class="container-fluid">
    <div class="card text-white bg-dark">
      <img class="card-img-top" src="https://hdqwalls.com/wallpapers/bridge-in-forest-minimalist-4k-w7.jpg"
        alt="">
      <div class="card-body">
        <h4 class="card-title">NEW SERVICE REQUEST</h4>
        <hr class="my-2 bg-light">
        <br>
        <!-- INFO CARDS -->
        <div class="row">
          <div class="info-card col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Request</h5>
                <h6 class="card-subtitle mb-2 text-muted">Open</h6>
                <p class="currency">{{20}}</p>
              </div>
            </div>
          </div>
          
        </div>
        <br>
        <div class="container-fluid bg-white form-input">
          <div class="row">
            <div class="col-lg-7">
                <form>
                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input type="text" class="form-control" name="subject" id="subject" aria-describedby="request-subject" placeholder="Accidentally flushed my cape" required>
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea 
                        class="form-control" name="description" id="description" aria-describedby="description" placeholder="More info on how you flushed the cape" rows="5"></textarea>
                    </div>
                    
                    <div class="form-group">
                      <label for="">Permission to enter the crib while you are out saving the world ?</label>
                      <br>
                      <br>
                      <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Oh Yes!
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Argh NO!
                          </label>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="">Do you have any super pets ?</label>
                      <br>
                      <br>
                      <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Oh Yes!
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Argh NO!
                          </label>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="">Do you have a private security system ?</label>
                      <br>
                      <br>
                      <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Oh Yes!
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="permssion" id="permssion" value="checkedValue"> Argh NO!
                          </label>
                        </div>
                    </div>

                    <button type="button" name="requestSubmit" id="requestSubmit" class="btn btn-primary btn-lg">SUBMIT</button>
                  </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  