<div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button *ngIf="!anonUser" class="btn btn-link alert alert-danger" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        {{ this.accordionOpened ? 'Close chat box' : 'Chat with interested tenants'}}
                    </button>
                    <button *ngIf="anonUser" class="btn btn-link alert alert-danger" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        {{ this.accordionOpened ? 'Close chat box' : 'Chat with a Realtor'}}
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <!-- TODO: *ngIf="!(anonUser)" -->
                    <div >
                        <button type="button" class="btn btn-secondary">Select Chat Thread</button>
                        <ul class="list-group" *ngFor="let thread of _chatThreads | async">
                            <button type="button" class="list-group-item list-group-item-action" (click)="setActiveThread(thread.chatThreadID)">
                                {{ thread.chatThreadID }}
                            </button>
                        </ul>
                    </div>
                    <chat-thread (eventEmitter)="switchTyping($event)" 
                                [activeThread]="_activeThread"
                                [messages]="_messages"
                                [anonUser]="anonUser"> </chat-thread>
                </div>
            </div>
        </div>
    </div>
</div>