<div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" [style.backgroundColor]="'#1A237E'">
                <h5 class="mb-0">
                    <button *ngIf="!anonUser" class="btn btn-link alert alert-danger text-white chat-header" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ this.accordionOpened ? 'CLOSE' : 'CHAT'}}
                    </button>
                    <button *ngIf="anonUser" class="btn btn-link alert alert-danger display-4 text-white chat-header" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        
                        <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ this.accordionOpened ? 'CLOSE' : 'CHAT'}}
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div *ngIf="!(anonUser)">
                        <div class="btn btn-secondary btn-block mb-2"> Select Chat Thread</div>
                        <ul class="list-group" *ngFor="let thread of _chatThreads | async">
                            <button type="button" class="list-group-item list-group-item-action chat-thread-client" (click)="setActiveThread(thread.chatThreadID)">
                                <i class="fa fa-user-o " aria-hidden="true"></i> &nbsp;&nbsp;{{ thread.chatThreadID  | slice:-3 }}
                            </button>
                        </ul>
                    </div>
                    <app-chat-thread (eventEmitter)="switchTyping($event)" 
                                [activeThread]="_activeThreadSubject"
                                [messages]="_messages"
                                [anonUser]="anonUser"> 
                    </app-chat-thread>
                </div>
            </div>
        </div>
    </div>
</div>