<div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button *ngIf="!anonUser" class="btn btn-link alert alert-danger" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        {{ this.accordionOpened ? 'Close chat box' : 'Chat with interested tenants'}}
                    </button>
                    <button *ngIf="anonUser" class="btn btn-link alert alert-danger" role="alert" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" (click)="toggleAccordion()">
                        {{ this.accordionOpened ? 'Close chat box' : 'Chat with a Realtor'}}
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <!-- TODO: *ngIf="!(anonUser)" -->
                    <div >
                        <button type="button" class="btn btn-secondary">Select Chat Thread</button>
                        <ul class="list-group" *ngFor="let thread of _chatThreads | async">
                            <button type="button" class="list-group-item list-group-item-action" (click)="setActiveThread(thread.chatThreadID)">
                                {{ thread.chatThreadID }}
                            </button>
                        </ul>
                    </div>
                    <chat-thread (eventEmitter)="switchTyping($event)" 
                                [activeThread]="_activeThread"
                                [anonUser]="anonUser"> </chat-thread>
                </div>
            </div>

            <!-- <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div class="clearfix" style="display: flex; flex-direction: row; width: 100%" *ngFor="let message of _messages | async">
                                    <chat-message class="float-right" style="float:right !important" [message]="message"></chat-message>
                                </div>
                                <div style="clear:both">
                                    <p [hidden]="(!anonUser || !isAdminTyping)"><em> admin is typing...</em> </p>
                                    <p [hidden]="(anonUser || !isUserTyping)"><em> user is typing...</em> </p>
                                </div>
                                <p> {{ textValue }} </p>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="message" name="messageBox" id="messageBox" 
                                            #messageBox [(ngModel)]="textValue">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" 
                                                (click)="sendMessage(messageBox.value); messageBox.value = ''">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->
        </div>
    </div>
</div>