<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Hello, Rental Management System!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p> My IP is ... {{ _ipAddress }} </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<br />
<br />

<div style="float:right; bottom: 5%; height: 10%;">
  <chat-window></chat-window>
</div>
