.card{
    position: fixed;
    width:25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.login-wrapper{
    height: 100vh;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,86,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,86,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,86,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    
}